{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
      {{ .Content }}
    </div>
    <hr>
    <div class="comments">
      Comments for this post can be found on <a href="https://github.com/kiliankoe/blog/issues">GitHub</a>. If there's no issue for this post already, just go ahead and open one 👌
    </div>
  </div>
</section>
{{ partial "disqus" . }}
{{ partial "footer" . }}
